header{
    text-align: center;
    font-weight: bold;
}
.info-box{
    border: 2px solid;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#info-box{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-style{
    border: 2px dashed greenyellow;
    width: 100px;
    cursor: pointer;
}

.para{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-overflow:  ;
    text-shadow: 5px;
    text-orientation: ;
    text-rendering: ;
    font-size: larger;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-stretch: expanded;
}